.nav-items {
    width: min(400px, 100%);
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    margin: auto;
    padding: 40px 0;
}

.nav-item {
    list-style: none;
    cursor: pointer;
    transition: .4s;
}

.nav-item:hover {
    transform: scale(1.2);
}