:root {
    --primary-clr: #FFA800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poly';
}

@font-face {
    font-family: 'Poly';
    src: url('../assets/fonts/Poly-Regular.ttf');
}

@font-face {
    font-family: 'Poly Italic';
    src: url('../assets/fonts/Poly-Italic.ttf');
}

* {
    /* For Debugging */
    /* outline: 1px solid red; */
}

.primary {
    color: var(--primary-clr);
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.content {
    width: min(1200px, 90vw);
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 100%;
    flex: 1;
}